body{
	height:100%;
}

.container{
	width: 960px;
    box-sizing: border-box;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
}
#wrap{

}

.header{
	background-color: #fff;
    border-bottom: 2px solid #ccc;
    padding: 20px;
    position: relative;
    
}
h1{
	background-color: #4aaaa5;
	font-size: 1.8em;
	color: white;
    width:20%;
    text-align: center;
    background-position: bottom;
    position: absolute;
    bottom: -20px;
    left: 10%;
}
#font{
	font-family: 'Georgia', Times, Times New Roman, serif;
}

nav{
	float: right;
	color:#777;
	margin-top:-25px;
}
nav ul li {
	display: inline;
    border-right: 1px solid #777;
    padding: 0 15px;
}
nav ul li a {
	text-decoration: none;
	color: #777;
}
a:hover{
    color: #4aaaa5;
}
img{

    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
    float: left;
    
    
}
h2 {
	font-size:1.6em;
	color: #4aaaa5;
	background-color: white;
	padding:20px;
	border-bottom: 2px solid #ccc;
}

#main-content{
    background-color: #fff;
    width: 80%;
    min-height: 80%;
    margin-left: 10%;
    padding-bottom: 60px;
    padding-left:20px;
    padding-top: 0;
    padding-right: 20px;
}
#main-body{
    /**background-color: rgb(182, 170, 170);*/
    clear: both;
    display: inline-block;
    overflow:auto;
    margin-bottom: 10%;
    min-height: 100%;
    min-width: 100%;
    background-image: url("../images/oriental.png")
}
footer{
    position: fixed;
    bottom: 0;
	border-top: 8px solid #4aaaa5;
	background-color: #666;
    margin-top: -60px; /* negative value of footer height */
    height: 60px;
    width: 960px;
    clear:both;
}
form{
    display: inline-grid;
    width: 100%;
}
.form_field{
    min-height: 100%;
    width: 100%;
}
.form_info {
	color:#777;
	padding-bottom: 0px;
}
#bigger_box {
    min-height: 100px;
    min-width: 100%;
}
#submit_button{
    background-color: #4aaaa5;
    color:white;
    width: 20%;
    margin-top: 30px;
    height: 40px;
}
#submit_button:hover{
    background-color: #10d86ade
}
#grid{
    position: grid;
    grid-template-columns: 1fr,1fr,2fr;
    grid-template-rows: 40px,40px,40px;
    background-color: #4aaaa5;
}
/*.img_1{
    display: flex;
    grid-row: auto;
    grid-column: auto;
    align-items: center;
    border: 1px solid #fff;
    
}
#img_1{
    background: url("../images/img_1.jpg");
}*/
.port_imgs{
	display: inline-block;
	height: auto;
	width: auto;
    max-height: 160px;
    padding-right: 160px;
}
